* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    rgba(119, 113, 215, 1) 0%,
    rgba(131, 187, 127, 1) 17%,
    rgba(165, 180, 93, 0.5760504885547969) 63%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  width: 100vw;
  background-color: #a071e1;
  color: white;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
  font-size: 0.75rem;
}

h1 {
  padding: 1rem 0;
  text-align: center;
}

img,
iframe {
  max-width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  color: white;
  font-weight: 800;
}
